entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

api:
  dashboard: true  
  insecure: false    

providers:
  docker:
    exposedByDefault: false 
  file:
    directory: "/rules"
    watch: true

certificatesResolvers:
  le:
    acme:
      email: ${ACME_EMAIL}  
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web

log:
  level: INFO

accessLog: {}